{% extends 'mainapp/base_main_page.html' %}

{% block content %}
{#    <section>#}
{#        <div class="container">#}
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5">{{ vacancy.name }}</h1><br>
                    <a href="{% url 'user:detail' vacancy.user.id %}" class="">
                        {{ vacancy.user }}
                        {% if vacancy.user.partner_image %}
                            <img width="100" src="{{ vacancy.user.partner_image.url }}"
                                 alt="partner">
                        {% endif %}
                    </a>
                    <h5>Адрес: <b>{{ city }} {% if vacancy.address %}, {{ vacancy.address }} {% endif %}</b></h5><br>
                    {% if vacancy.salary_from and vacancy.salary_to %}
                        <h6>Зарплата:
                            {% if vacancy.salary_from %}
                                от {{ vacancy.salary_from }}
                            {% endif %}
                            {% if vacancy.salary_to %}
                                до {{ vacancy.salary_to }}
                            {% endif %}</h6><br>
                    {% endif %}
                    {{ vacancy.description }}<br><br>
                    {% if key_skills %}
                        <h6>Ключевые навыки:<br>
                            {% for key_skill in key_skills %}
                                {{ key_skill }}
                            {% endfor %}
                        </h6>
                    {% endif %}
                    <div class="col-lg4">
                        <div class="form-group mt-6 mb-0">
                            <input class="btn btn-primary btn-block" type="submit"
                                   value="Оставить отклик">
                        </div>
                    </div>
                </div>
            </div>
{#        </div>#}
{#    </section>#}
    {#        <form class="" action="{% url 'vacancy:update' vacancy.id %}">#}
    {#            {% csrf_token %}#}
    {#            <input type="submit" name="Submit" value="Редактирование">#}
    {#        </form>#}

{% endblock content %}
