{% extends 'mainapp/base_main_page.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="mt-5">Вакансии:</h1>
            <ul>
            {% for vacancy in object_list %}
                <li><b></b>
                <a href="{% url 'vacancyapp:detail' pk=vacancy.id %}" class="">{{ vacancy.name }}</a>:</li>
                Зарплата:
                {% if vacancy.salary_from %}
                  от {{ vacancy.salary_from }}
                {% endif %}
                {% if vacancy.salary_to %}
                   до {{ vacancy.salary_to }}
                {% endif %}
                <br>
                {{ vacancy.description|truncatechars:200 }}
                <br><br>
            {% empty %}
                <li>No vacansies yet.</li>
            {% endfor %}
            </ul>
            {% if page_obj.has_other_pages %}
            <div class="pagination">
            {% for p in paginator.page_range %}
                {% if page_obj.number == p %}
                    <li class="page-item active">
                        <a href="?page={{ p }}" class="page-link active">{{ p }}</a>
                    </li>
                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                    <a href="?page={{ p }}" class="page-link">{{ p }}</a>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
