{% extends 'mainapp/base_main_page.html' %}

{% block content %}
    <div style="padding-top: 25%">
        <div class="col text-center justify-content-center align-self-center">
            <p>Вы хотите зарегистрироваться как:</p>
            <button class="btn btn-primary btn-lg" onclick="window.location.href = '{% url 'regist:aspirant' %}';">
                Соискатель
            </button>
            <button class="btn btn-primary btn-lg" onclick="window.location.href = '{% url 'regist:company' %}';">
                Работодатель
            </button>
        </div>

    </div>
{% endblock content %}