{% extends 'mainapp/base_main_page.html' %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5">{{ object.company_name }}</h1><br>
                    {% if object.partner_image %}
                        <img width="100" src="{{ object.partner_image.url }}"
                             alt="partner">
                    {% endif %}
                    <h6>Описание:<br></h6>
                    {{ object.descriptions_company }}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}