{% extends 'mainapp/base_main_page.html' %}
{% block content %}
    <section>
        <div class="container">
            <form method="GET">
                {{ filter.form }}
                <button class="btn btn-primary">Найти</button>
            </form>
            <div class="row">
                <div class="col-lg-6">
                    {% for resume in filter.qs %}
                        {% csrf_token %}
                        <a href="{% url 'resume:detail' pk=resume.id %}" class="">{{ resume.position }}</a>:</li>
                        <p>Город проживания: {{ resume.city }} <br>
                            Контакты: {{ resume.contact_info }}<br>
                            Зарплата:
                            {% if resume.salary %}
                                от {{ resume.salary }}
                            {% endif %}
                            <br>
                            Тип занятости:
                            {% for status in config.STATUS_CHOICES_BUSYNESS %}
                                {% if status.0 == resume.busyness %}
                                    {{ status.1 }}
                                {% endif %}
                            {% endfor %}
                            <br>
                            График работы:
                            {% for status in config.STATUS_CHOICES_WORK_SCHEDULE %}
                                {% if status.0 == resume.work_schedule %}
                                    {{ status.1 }}
                                {% endif %}
                            {% endfor %}
                            <br>
                            О себе: {{ resume.about_myself|truncatechars:200 }}
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
