{% extends 'mainapp/base_main_page.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-10">
            <h1 class="mt-5">Подписки:</h1>
                {% for selected_vac in object_list %}


                    <div class="row">
                        <div class="col">
                          <a href="{% url 'user:detail' selected_vac.vacancy.user.id %}"
                                                           class="">  {{ selected_vac.vacancy }}</a>
                        </div>
                        <div class="col">
                            <form action="{% url 'vacancy:add_folower' selected_vac.id %}" method="post">
                                {% csrf_token %}
                                <button style=" background-size: contain;" type="submit">
                                    <img width="20" src="{% static 'img/icons.gif' %}" alt="">
                                </button>

                            </form>
                        </div>

                    </div>
                {% endfor %}
        </div>
    </div>

{% endblock content %}