{% extends 'mainapp/base_main_page.html' %}

{% block content %}
    <div class="container">
        <h2>Мои резюме</h2>
        <hr>

        <div class="row">
            <div class="col-lg-12">
                {% for resume in object_list %}
                    {% if resume.is_publish and not resume.draft %}
                        <div class="row">
                            <div class="col-5">
                                <a href="{% url 'resume:detail' resume.id %}" class=""><h3>{{ resume }}</h3></a>
                            </div>
                            <div class="col-3">
                                Обновлено: {{ resume.updated_at|date:'j F в H:i' }}
                            </div>
                            <div class="col-2">
                                <button class="btn btn-primary btn-lg"
                                        onclick="window.location.href = '{% url 'resume:update' resume.id %}';">
                                    Редактировать
                                </button>
                            </div>
                            <div class="col-2">
                                <div style="color: green">Опубликованно</div>
                            </div>
                        </div>
                        <br>

                        <br>
                        <br>
                    {% elif resume.draft %}
                        <div class="row">
                            <div class="col-5">
                                <a href="{% url 'resume:detail' resume.id %}" class=""><h3>{{ resume }}</h3></a>
                            </div>
                            <div class="col-3">
                                Обновлено: {{ resume.updated_at|date:'j F в H:i' }}
                            </div>
                            <div class="col-2">
                                <button class="btn btn-primary btn-lg"
                                        onclick="window.location.href = '{% url 'resume:update' resume.id %}';">
                                    Редактировать
                                </button>
                            </div>
                            <div class="col-2">
                                <div style="color: red">Черновик</div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>

                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <button class="btn btn-primary btn-lg"
                onclick="window.location.href = '{% url 'resume:create' %}';">
            Создать резюме
        </button>
    </div>
{% endblock content %}