{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Прототип hh.ru</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    {#    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">#}

    <!-- Custom styles for this template -->
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    {#    <link href="css/index.css" rel="stylesheet">#}

</head>
<body>

{% include 'mainapp/include/inc_main_menu.html' %}

    {% block content %}
    {% endblock content %}

<!-- Bootstrap core JavaScript -->
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{#<script src="vendor/jquery/jquery.min.js"></script>#}

<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{#<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>#}

<!-- FontAwesome script -->
<script src="{% static 'fontawesome/fontawesome-icons.js' %}" crossorigin="anonymous"></script>
{#<script src="vendor/fontawesome/fontawesome-icons.js" crossorigin="anonymous"></script>#}

</body>
</html>