{% extends 'mainapp/base_main_page.html' %}

{% block content %}
    <!-- Page Content -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5">Правила портала</h1>
                    <p>
                        Здесь будет размещаться мини-текст с правилами портала.
                        <br>
                        <b>Например</b>, Размещать и/или передавать посредством Сайта информацию в виде текста,
                        изображения, видео, звука, ссылки или программного кода, которая может быть противозаконной,
                        угрожающей, оскорбительной,
                        клеветнической, заведомо ложной, грубой, непристойной
                        (содержать информацию и материалы эротического и/или порнографического характера),
                        призывающей граждан к насилию, агрессии, действиям, нарушающим законодательство,
                        вредить другим посетителям Сайта, нарушать их права...
                        <br>
                        Прошу ознакомиться с полной редакцией <a href="{% url 'main:rules' %}">правил портала</a>

                    </p>
                    {#                <button id="start-purchase-btn" type="button" class="btn btn-lg">#}
                    {#                    <a id="start-purchase-link" href="#">#}
                    {#                        Начать покупки#}
                    {#                    </a>#}
                    {#                </button>#}
                </div>
            </div>
        </div>
            <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5">Список компаний-партнеров</h1>
                    {% for company in list_company_partners %}
                    <p>
                        {{ company.company_name }}
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

