{% extends 'mainapp/base_main_page.html' %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <h1 class="mt-5">Правила портала</h1>
                <p>
                    <b>1 правило.</b>
                    <br>
                    <br>
                    Размещать и/или передавать посредством Сайта информацию в виде текста,
                    изображения, видео, звука, ссылки или программного кода, которая может быть противозаконной,
                    угрожающей, оскорбительной,
                    клеветнической, заведомо ложной, грубой, непристойной
                    (содержать информацию и материалы эротического и/или порнографического характера),
                    призывающей граждан к насилию, агрессии, действиям, нарушающим законодательство,
                    вредить другим посетителям Сайта, нарушать их права;
                    <br>
                    <br>
                    <b>2 правило.</b>
                    <br>
                    <br>
                    Размещать заведомо недостоверную информацию о себе, своей компании или вакансии;

                </p>
            </div>
        </div>
    </section>
{% endblock content %}